{% extends 'base.html' %}
{% load static %}

{% block content %}
	<h1>Weather API</h1>
	{{ form.as_p }}
	<section>
		<h1>Current Weather</h1>
		<table>
			<tr>
				<td colspan="2">
					<img src="#" id="city_icon">
				</td>
			</tr>
			<tr>
				<td>Temperature:</td>
				<td id="city_temp"></td>
			</tr>
			<tr>
				<td>Description:</td>
				<td id="city_desc"></td>
			</tr>
		</table>
	</section>
{% endblock %}

{% block js %}
	<script type="text/javascript" src="{% static 'reconnecting-websocket.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'city_websocket.js' %}"></script>
{% endblock %}
